

@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap');
nav,
.navbar-brand,
#btn1 {
  background: orange;
  font-family: 'Medula One', cursive;
  font-size: 30px;
}
#btn2 {
  font-family: 'Medula One', cursive;
  font-size: 30px;
}
.featurette-heading,
.row-featurette {
  text-align: center;
}
h2 {
  font-weight: bolder;
  text-transform: capitalize;
  font-style: italic;
  font-family: 'Medula One', cursive;
  font-size: 30px;
}
div p {
  font-family: 'Cardo', serif;
  font-size: 25px;
}
#myCarousel {
  margin-top: 10px;
}
.ore {
  color: orange;
}
footer,
h5,
h4,
.btn {
  font-family: 'Medula One', cursive;
  font-size: 20px;
}
